<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>新人优惠券</h3>
                <h5>商城新人优惠券设定与管理</h5>
            </div>
            <ul class="tab-base nc-row">
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>注册7天以内未下过单，并且没有领取过优惠券的用户视为新人，一个新人只允许领取一次新人优惠券.</li>
            <li>新人优惠券使用起始日期为领取时的日期，发放数量无限制，新用户仅限领取一次.</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>新人优惠券列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="search-form" action="" method="post" onsubmit="return check_form();">
                <div class="sDiv">
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" name="add_time_begin" id="add_time_begin" value="{$Request.param.add_time_begin}" placeholder="起始时间" class="qsbox">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" name="add_time_end" id="add_time_end" value="{$Request.param.add_time_end}" placeholder="截止时间" class="qsbox">
                        <input type="button" class="btn" value="截止时间">
                    </div>
                    <div class="sDiv2">
                        <input size="30" name="name" value="{$_POST['name']}" class="qsbox" placeholder="输入优惠券名称" type="text">
                        <input type="submit" class="btn" value="搜索" >
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 240px;" class="">优惠券名称</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">优惠券类型</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">面额</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">使用需满金额</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">总发行量</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">已发放</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">状态</div>
                        </th>
                        <th align="left" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton"> <a href="{:U('coupon/noob_info')}">
                    <div class="add" title="新增优惠券">
                        <span><i class="fa fa-plus"></i>新增优惠券</span>
                    </div>
                </a> </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="lists" item="list" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 240px;">{$list.name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$coupons[$list[type]]}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$list.money}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 120px;">{$list.condition}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">{$list.createnum}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;">{$list.send_num}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: center; width: 80px;"><if condition="$list.status eq 1">有效<else/>无效</if></div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a class="btn blue" href="{:U('Admin/Coupon/coupon_info',array('id'=>$list['id']))}"><i class="fa fa-edit"></i>查看</a>
                                    <a class="btn blue" href="{:U('Admin/Coupon/noob_info',array('id'=>$list['id']))}"><i class="fa fa-edit"></i>编辑</a>
                                    <a class="btn blue" href="{:U('Admin/Coupon/coupon_list',array('id'=>$list['id']))}"><i class="fa fa-edit"></i>详细</a>
                                    <a class="btn blue" data-id="{$list['id']}" data-url="{:U('Admin/Coupon/del_coupon')}" onclick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        $('#add_time_begin').layDate();
        $('#add_time_end').layDate();
    });

    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data : {act:'del',id:$(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert(data.msg, {icon: 2});  //alert('删除失败');
                    }
                },
                error : function() {
                    layer.closeAll();
                    layer.alert('网络请求出错', {icon: 2});
                }
            })
        }, function () {
            layer.closeAll();
        });
    }

    function check_form(){
        var start_time = $.trim($('#add_time_begin').val());
        var end_time =  $.trim($('#add_time_end').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        return true;
    }
</script>
</body>
</html>