<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>首页管理</h3>
                <h5>商城首页模板及广告设计</h5>
            </div>
            <ul class="tab-base nc-row">
				<li><a href="{:U('Web/floorList')}" class="current"><span>楼层管理</span></a></li>
				<li><a href="{:U('admin/ad/editAd',array('request_url'=>urlencode('home/Index/index')))}"><span>首页广告位</span></a></li>
			</ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>排序越小越靠前，可以控制板块显示先后.</li>
            <li>色彩风格和前台的样式一致，在设置中选择更换。</li>
            <li>色彩风格是css样式中已经有的，如果需要修改名称则相关程序也要同时改变才会有效果。</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>商城首页板块列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <a href=""><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="handle">
                            <div style="text-align: center; width: 100px;" class="">操作</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 50px;" class="">排序</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">板块名称</div>
                        </th>
                        <th align="center" abbr="article_content" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">色彩风格</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">更新时间</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 50px;">显示</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton"> <a href="{:U('Web/settingFloor')}">
                    <div class="add" title="新增模板">
                        <span><i class="fa fa-plus"></i>新增板块</span>
                    </div>
                </a></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="floor_list" id="vo">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 150px;">
                                <a class="btn purple" href="{:U('Web/settingFloor',array('web_id'=>$vo[web_id]))}"><i class="fa fa-cog"></i>设置</a>
                                <a class="btn orange" href="{:U('Web/editFloor',array('web_id'=>$vo[web_id]))}"><i class="fa fa-steam"></i>板块设计</a>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">{$vo.web_sort}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$vo.web_name}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$vo.style_name}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$vo.update_time|date='Y-m-d H:i:s',###}</div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 50px;">
                                  <if condition='$vo[web_show] eq 1'>
			                      <span class="yes" onClick="changeTableVal('web','web_id','{$vo.web_id}','web_show',this)" ><i class="fa fa-check-circle"></i>是</span>
			                      <else />
			                      <span class="no" onClick="changeTableVal('web','web_id','{$vo.web_id}','web_show',this)" ><i class="fa fa-ban"></i>否</span>
			                    </if>
								</div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$pager->show()} </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });

    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        $(obj).parent().parent().parent().remove();
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.alert(data.msg, {icon: 2});  //alert('删除失败');
                    }
                }
            })
        }, function () {
        });
    }
</script>
</body>
</html>