<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="{:U('Guarantee/index',array('apply_type'=>$apply.apply_type))}" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>消费者保障服务 - <if condition="$apply.apply_type eq 0">退出</if>服务申请详情</h3>
        <h5>消费者保障服务查看与管理</h5>
      </div>
    </div>
  </div>
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label>项目名称</label>
        </dt>
        <dd class="opt">{$info.grt_name}</dd>
      </dl>
      <dl class="row">
        <dt class="tit">
            <label>店铺名称</label>
        </dt>
        <dd class="opt">{$apply.store_name}</dd>
      </dl>
      <dl class="row">
          <dt class="tit">
            <label>申请时间</label>
          </dt>
          <dd class="opt">{$apply.add_time|date='Y-m-d H:i:s',###}</dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label>状态</label>
        </dt>
        <dd class="opt">
        <if condition="($apply.apply_type eq 0) AND ($apply.auditstate eq 1)">
        	审核通过<else/>{$auditstate[$apply.auditstate]}</if></dd>
      </dl>
      <div class="bot"><a id="submitBtn" class="ncap-btn-big ncap-btn-green" href="{:U('Guarantee/index',array('apply_type'=>$apply.apply_type))}">返回列表</a></div>
    </div>
</div>
</body>
</html>