<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>平台充值卡</h3>
                <h5>商城充值卡设置生成及用户充值使用明细</h5>
            </div>
           <ul class="tab-base nc-row">
            	<li><a class="current" href="{:U('Rechargecard/index')}"><span>充值卡列表</span></a></li>
            	<li><a href="{:U('Rechargecard/log_list')}"><span>明细</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
			<li>平台发布充值卡，用户可在会员中心通过输入正确充值卡号的形式对其充值卡账户进行充值。</li>
			<li>已经被领取的平台充值卡不能被删除。</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>商家汇款记录列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="remittance-form" method="get" action="{:U('store_remittance')}" onsubmit="return check_form();">
 				<div class="sDiv">
	 				<div class="sDiv2">
		 				<select name="qtype" class="select">
		 				<option value="sn" selected="selected">充值卡卡号&nbsp;&nbsp;</option>
		 				<option value="batchflag">批次标识&nbsp;&nbsp;</option>
		 				<option value="admin_name">发布管理员&nbsp;&nbsp;</option>
		 				<option value="member_name">领取人&nbsp;&nbsp;</option>
		 				</select> 
		 				<input type="text" size="30" name="q" class="qsbox" placeholder="搜索相关数据...">
		 				<input type="button" class="btn" value="搜索">
	 				</div>
 				</div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="text-align: center; width: 50px;" class="">
                                <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                            </div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 150px;" class="">充值卡卡号</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 100px;" class="">批次标识</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">面额（元）</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">发布管理员</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">发布时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">领取人</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">领取时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">操作</div>
                        </th>
    
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <form class="form-inline" id="transfer-form" method="get" action="{:U('store_transfer')}">
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton"> <a href="javascript:;" onclick="form_submit(1)">
                    <div class="add" title="导出excel">
                        <span><i class="fa fa-plus"></i>导出数据</span>
                    </div>
                </a> </div>
                <div class="fbutton">
                    <a href="{:U('add_card')}">
                        <div class="add" title="新增充值卡">
                            <span><i class="fa fa-hand-o-right"></i>新增充值卡</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a onclick="act_submit('hand')">
                        <div class="add" title="批量删除">
                            <span><i class="fa fa-hand-o-up"></i>批量删除</span>
                        </div>
                    </a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <input type="hidden" name="atype" id="atype" value="hand">
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="lists" id="v">
                        <tr>
                            <td class="sign">
                                <div style="text-align: center; width: 10px;">
                                    <input type="checkbox" name="selected[]" value="{$v['id']}">
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">
                                    {$v.sn}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.batchflag}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                  {$v.denomination}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.admin_name}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.ctime|date="Y-m-d H:i:s",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.user_name}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.tsused}</div>
                            </td>
			                <td align="center" class="handle">
			                	<div style="text-align: center; width: 170px; max-width:250px;">
                                    <a href="{:U('store_transfer',array('selected'=>$v['id'],'atype'=>'online'))}" class="btn blue"><i class="fa fa-hand-o-right"></i>删除</a>
                                </div>
			                </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div></form>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        $('#start_time').layDate();
        $('#end_time').layDate();
    });


    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if(start_time !== '' && end_time !== ''){
            $('#create_time').val(start_time+" - "+end_time);
        }
        if(start_time == '' && end_time == ''){
            $('#create_time').val('');
        }
        return true;
    }
    
    
    //批量操作提交
    function act_submit(atype) {
        var a = [];
        $('input[name*=selected]').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            layer.alert('少年，请至少选择一项', {icon: 2});return;
        }
        $('#atype').val(atype);
        $('#transfer-form').submit();
    }
    
    function form_submit(v){
    	$('#export').val(v);
    	$('#remittance-form').submit();
    }
</script>
</body>
</html>