@charset "utf-8";
/* CSS Document */
* { word-wrap: break-word; outline: none; }
html,
body { height: 100%; margin: 0; -webkit-text-size-adjust: none; }
body { background: #555; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%; height: 100%; }
h2,
h5,
h6 { margin: 0; }
input { outline: none }
ul,
li { margin: 0; padding: 0; border: 0; list-style-image: none; list-style-type: none; }

a { color: #31b4e1; text-decoration: none;}
a:hover { color: #148EFF; text-decoration: none; }

input[type='text'],input[type='password']{ 
    font-size: 16px;
    height: 28px;
    background: #fff;
    border: 0;
    border-radius: 50px;
    padding: 6px 20px 6px 0px;
    filter: alpha(opacity=80);
    /* border-bottom: 1px solid #E5E5E5; */
    color: #666;
}
input:-moz-placeholder {
	color: #ccc;
}
input:-ms-input-placeholder {
	color: #ccc;
}
input::-webkit-input-placeholder {
	color: #ccc;
	background: #fff !important;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
/* input[type='text']:focus,input[type='password']:focus{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3F000000', endColorstr='#3F000000'); 
	background: fff; 
	outline: none; 
	border-color: rgba(255,255,255,0.5); 
	opacity:1;
	filter:alpha(opacity=100);
} */

/* input[type='text']:focus::-webkit-input-placeholder{ color:#fff;} */

#bannerBox{ display: block;position: fixed;left: 0;top: 0;overflow: hidden;z-index: -999;height: 100%;width: 100%;}
#bannerBox .slideBanner{ height: 100%;width: 100%;}
#bannerBox .slideBanner li{ display: block;list-style: none;z-index: -30;position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;height: 100%;background: #111;}
.slideBanner li img{width:100%;height:100%;}
.login-layout{ width:100%; position:absolute; z-index:3; top:150px;}/*-209*/
.login-layout .logo{ text-align:center;}
.login-layout .logo img{ max-width: 542px; max-height: 200px;}
.login-form{ z-index: 9;width: 500px;height: auto;margin: 0 auto;background: #fff;margin-top: 50px;border-radius: 5px;box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);}

.formContent{ width: 100%;height: auto;position: relative;padding-bottom: 60px;}
.formContent .title{ color: #333;font-size: 30px;text-align: center;padding-top: 35px;padding-bottom: 45px;}

.formInfo{ width:360px; margin: auto;}
.formText{ position:relative; z-index:2; margin-bottom:40px;}
.formText .line_1{position: absolute;bottom: 0;width: 100%;height: 1px;background: #e5e5e5;}
.formText:after,.formText:before{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.formText .input-text{ width: 100%;height: 30px;border-radius: 5px;box-sizing: border-box;}
.icon{ background:url(../images/login_icon.png) no-repeat; position:absolute; top:14px; left:-42px; width:28px; height:28px; z-index:9;}
.icon-user{ background-position:0 0;}
.icon-pwd{ background-position:4px -37px;}
.icon-chick{ background-position:4px -70px;}
.chick_ue{padding-right: 120px !important;}
.chicuele{cursor: pointer;width: 100px;position: absolute;right: 0;top: -1px;height: 30px; }



.checkbox,.cur{ background:url(../images/login_icon.png) no-repeat; float:left; cursor:pointer;}
.checkbox{ width:32px; height:18px; background-position: -105px -50px; position:relative; margin:2px 0 0 15px;}
.checkbox .cur{ width:18px; height:18px; transition:.4s; background-position:-153px -10px;}
.checked{ background-position:-105px -10px;}
.checked .cur{ -webkit-transform: translateX(85%);transform: translateX(85%);}

.formText .span{ font-size:12px; line-height:20px; float:left; margin-left:7px; color:#fff;}
.forget_pwd{ float:right; font-size:14px; color:#999999; display:block;}

.submitDiv .text_span{ width:115px; overflow:hidden; padding:10px 0 10px 10px; float:left; margin:-10px 0 -10px -10px;}
.submitDiv .text_span input{ border-radius:50px 0 0 50px; padding-left:22px; width:100px; float:left;}

.submitDiv .sub{ width:100%; height:55px; border:0; background:#148EFF; color:#FFF; padding:0; font-size:18px; letter-spacing: 10px; cursor:pointer;border-radius:5px;margin:0 auto;display: block;}
.submitDiv .sub:hover{background: #007ef5;transition: 0.2s;}

.code { background-color: #FFFFFF; width: 100px; height: 34px; border-radius: 4px; position: absolute; z-index: 9; top: -12px; left: 10px; display: none; box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25); }
.code .arrow { width: 0px;height: 0px;border: 7px solid transparent;border-top-color: #fff; position:absolute;bottom:-14px; left:18px;}
.code img { width: 100px; height: 30px; position: absolute; z-index: 1; top: 4px;}

.backPwd_layout{ width: 100%; position: absolute; z-index: 3; top: 150px; left: 0;}
.backPwd_layout .logo{text-align: center; padding-bottom: 50px;}
.backPwd_layout .logo img{max-width: 542px; max-height: 200px;}
.backPwd_form{ position: relative; font-size: 30px;color: #333;width: 500px;margin: 0 auto;background: #fff;height: auto;padding-bottom: 60px;box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);border-radius: 5px;}
.backPwd_form .title{ text-align:center; font-size:30px; padding-top: 35px; padding-bottom: 45px;}
.backPwd_form .error_msg{ color:#ff3b3b;font-size: 14px;line-height: 12px;}
.backPwd_form .formInfo{ width:360px;}
.btn_div .sub{ width:100%; height:54px; border:0; background:#148EFF; color:#fff; border-radius:5px; padding:0; font-size:18px; cursor:pointer; float:left;}
.btn_div .cancel{ width:113px; height:41px; border:0; background:#cecece; color:#fff; border-radius:0 50px 50px 0; padding:0; font-size:14px; font-weight:bold; cursor:pointer; float:left;}

.btn_div .sub:hover,.btn_div .cancel:hover{background: #007ef5;transition: 0.2s;}

.formText .return{ font-size:14px; color:#999; float:right;}
.formText .return:hover{ color:#148EFF;}
.backPwd_form .formText .input-text{ width:100%;}
.error{font-size: 14px;color: #ff3b3b;width:395px;padding: 0 5px;}
.error_1{position: absolute;left: 0px;bottom: 134px;text-align: left;width: 542px;box-sizing: border-box;padding-left: 68px;}
.error_2{position: absolute;left: 0px;bottom: 130px;text-align: left;width: 542px;box-sizing: border-box;padding-left: 68px;}


#notIe{ position:fixed;}
#notIe .noContent{ width:316px; height:376px; background:url(../images/not_ie78.png) no-repeat;}
#notIe .noContent .noText{ padding-top:190px; width:100%;}
#notIe .noContent .noText p{ text-align:center; margin:0;}
#notIe .noContent .noText p.p1{ font-size:16px; color:#0092ce; margin-bottom:6px;}
#notIe .noContent .noText p.p2{ padding-top:10px;}
#notIe .noContent .noText p.p2,#notIe .noContent .noText p.p3{ font-size:14px; color:#333333; margin-bottom:5px;}
#notIe .pb-btn{ position:absolute; width:270px; height:60px; line-height:60px; font-size:18px; color:#fff; bottom:0; left:20px; text-align:center; cursor:pointer;}    