.z-forms-tab{
	width: 100%;
	overflow: hidden;
}
.forms-tab-list{
	width: 50%;
	text-align: center;
	float: left;
}
.forms-tab-list label {
    border: 0;
    text-align: center;
    color: #373f42;
    margin: 0;
  /*  height: 50px;*/
    border-radius: 0;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    line-height: 25px;
    display: block;
    cursor: pointer;
}
.form-active label{
    border-bottom: 1px solid #F02B2B;
    color: #F02B2B;
    background: hsla(0,0%,100%,.06);
}
.forms-tab-wrap{
	overflow: hidden;
	width: 450px;
	height: 677px;
}
.forms-tab-cont{
	width: 470px;
	height: 677px;
	overflow-x: hidden;
    overflow-y: auto;
}
.forms-cont-list{
	width: 450px;
	height: 677px;
}
.form-box-border{
	border-bottom: 1px solid #f0f0f0;
    width: 340px;
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}
.form-sub-label{
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-right: 10px;	
}
.form-inputBox input{
    outline: none;
    padding: 5px;
    width: 328px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #d5d5d5;
    font-size: 12px;
}
.forms-draggable-item{
	padding: 10px 5px 10px 40px;
    margin-left: -15px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    cursor: pointer;
    position: relative;
    font-size: 12px;
    overflow: hidden;
   	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin-bottom: 10px; 
}
.draggable-level{
	width: 20px;
	height: 12px;
	display: block;
	background: url(../images/zbottom.png)no-repeat;
	background-size: 100% 100%;
	float: right;
    margin: 3px 2px 0 5px;
}
.draggable-del{
	float: right;
    margin: 0 2px;
    width: 16px;
	height: 16px;
	display: block;
	background:url(../images/dele.png)no-repeat ;
	background-size: 100% 100%;
}
.draggable-finds{
	display: none;
}
.forms-draggable-cont{
	padding: 15px 0 0 25px;
}
.form-sub-ul li{
    min-width: 100px;
    line-height: 32px;
    font-size: 12px;
    color: #333333;
    text-align: right;
    height: 105px;
    width: 157px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #a3a0a3;
    border-radius: 3px;
    background-position: 50%;
    cursor: pointer;
}
.form-sub-ul .atab1{
	background-image: url(../images/atab1.png);
}
.form-sub-ul .atab2{
	background-image: url(../images/atab2.png);
}
.form-sub-ul .atab3{
	background-image: url(../images/atab3.png);
}
.form-sub-ul .atab4{
	background-image: url(../images/atab4.png);
}
.form-sub-ul .atab5{
	background-image: url(../images/atab5.png);
}
.form-sub-ul .atab6{
	background-image: url(../images/atab6.png);
}
.form-sub-ul .sub-active{
	border: 1px solid #F02B2B;
}
.form-box-item{
	display: inline-block;
}
.form-box-item li{
	display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    border:1px solid #FFFFFF;
}
.form-box-item .sub-active{
	border: 1px solid #F02B2B;
}
.form-box-item li img{
	width: 100%;
	height: 100%;
}
.form-sub-chenkend{
	display: inline-block;
	background: #7C7C7C;
	height: 20px;
	width: 35px;
	border-radius: 25px;
	margin: 5px 0;
	position: relative;
	cursor: pointer;
}
.form-sub-chenkend i{
	height: 16px;
	width: 16px;
	background-color: #ffffff;
	display: block;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50px;
}
.form-sub-chenkend.form-chenk{
    background-color: #F02B2B;
}
.form-chenk i{
	left:17px ;
}
.form-items{
	/*display: none;*/
}
.sub-radio-item{
	margin-bottom: 10px;
}
.sub-radio-item input{
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	width: 170px;
	padding: 2px;
}
.form-add{
	width: 174px;
	border: 1px solid #F02B2B;
	background: #F02B2B;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
}
.form-sub-radio i{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}
.tpd-forms-wraps{
	padding: 7px 14px 8px 16px;
}
.tpd-forms-cont .formName{
	font-size: 14px;
    display: inline-block;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}
.form-input-name input{
	height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #aaa;
    outline: none;
    font-size: 13px;
    text-indent: 10px;
}
.tpd-form-btn input{
	width: 100%;
	margin-top: 10px;
    width: 100%;
    height: 35px;
    outline: none;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgb(229, 28, 35);
    color: rgb(255, 255, 255);
}
.form-textarea-name textarea{
	min-height: 80px;
    width: 100%;
    resize: auto;
    border-radius: 3px;
    border: 1px solid #aaa;
    outline: none;
    font-size: 13px;
    text-indent: 10px;
    line-height: 25px;
}
.form-select-sj select,.form-select-dq select{
	outline: none;
    padding-left: 10px;
    font-size: 13px;
    color: #717171;
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
.singleElection-list label,.checkbox-input-list label{
	font-size: 14px;
    display: inline-block;
    padding-bottom: 10px;
    color: rgb(170, 170, 170);
}
.singleElection-list label input,.checkbox-input-list label input{
	display: none;
}
.singleElection-list label span,.checkbox-input-list label span{
	background-color: #fff;
    border: 1px solid#F02B2B;
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    margin-top: -1px;
    vertical-align: middle;
    width: 18px;
    line-height: 1;
}
.checkbox-input-list label span{
	border-radius: 0;
}    
.raggable-finds-add{
	margin: 20px auto;
	width: 99%;
	height: 30px;
	cursor: pointer;
	border-radius: 3px;
	border:1px solid #F02B2B;
	color: #F02B2B;
	line-height: 30px;
	text-align: center;
}
.raggable-finds-add:hover{
	color: #FFFFFF;
	background-color: #F02B2B;
}
