<include file="public/header" title="发布"/>
<link rel="stylesheet" href="__STATIC__/css/shopdes.css"/>
<script src="__STATIC__/js/jquery.cookie.js"></script>
<style>
/* 修改尾部导航阴影  */
.footer {
    box-shadow: 0 0 9px 0px rgba(0,0,0,0.2);
}

</style>
<div class="headre-allan">
    <!--头部搜索1-->
    <div class="header-all-yan">
        <div class="wrap">
            <a href="{:U('Dynamics/homePage',array('id'=>$user.user_id))}" class="touxiang" style="display: block">
                <img src="/template/mobile/default/static/images/user68.jpg" alt="">
            </a>
            <a href="/mobile/Dynamics/search.html" class="search"></a>
            <h1>发现</h1>
        </div>
    </div>
    <!-- 头部搜索2 -->
    <div style="display: none;" class="heard-aj-1">
        <div class="head-asm">
            <input type="text" placeholder="输入你想搜索的内容...">
            <img src="__STATIC__/images/suoyan-1.png" alt="">
        </div>
        <a href="javascript:;">搜索</a>
    </div>
    <div style="display: none;" class="line-hr"></div>
    <!-- 内容 -->
    <div class="li-fabu-zong clearfix">
    </div>
    <!-- 编写按钮 -->

    <!-- 编写评论 -->
    <div class="writing-comments">
            <textarea placeholder="评论一下："></textarea>
            <input type="hidden" id="val">
            <button onclick="sub()">发送</button>
    </div>

    <a href="{:U('Dynamics/moment')}" class="edit-1" style="display:<if condition='$user.user_id gt 0 '> block<else />none </if>" ></a>

</div>

<!-- 提示弹窗 -->
<div class="alter-shoucan-1">
    <div class="alter-an">
        <div class="p-1">
            <p></p>
        </div>
    </div>
</div>


<script>
    $(function(){
        // 内容选项卡
        $(document).each(function(){
            $('.tab-fabu .bads').find('.l-1').show().parents('li').siblings('li').find('.l-1').hide();
            $('.guide').hide();
        })

    })       

</script>

<style>
.foohi {
    height: 2.34667rem;
}
</style>
<!--底部导航-start-->
<include file="public/footer_nav"/>
<!--底部导航-end-->
<script id="list" type="text/html">
    <%result.forEach(function(item){%>
    <div class="fabu-am clearfix">
        <div class="touxi-1">
            <a onclick='mine_teafriend(<%=item.user_id%>,"<%=item.head_pic?item.head_pic:'__STATIC__/images/hearder-1.png'%>","<%=item.nickname?item.nickname:'用户名'%>")'>
                <img src="<%=item.head_pic?item.head_pic:'__STATIC__/images/hearder-1.png'%>" alt="">
            </a>
        </div>
        <div class="tex-a clearfix">
            <div class="l-1 clearfix"><p><%=item.nickname?item.nickname:'用户'+item.user_id %></p><span><%=item.time%></span>
                <% if(item.user_id != {$user.user_id|default=0} ){%>
                    <% if(item.attention){%>
                        <b class="hiac-an-1 love-shc" user-id="<%=item.user_id%>" onclick="attention(this)"></b>
                    <%}else{%>
                        <b class="hiac-an love-shc" user-id="<%=item.user_id%>" onclick="attention(this)"></b>
                    <%}%>
                <%}%>
            </div>
            <div class="l-2 clearfix"><a href="/mobile/Dynamics/moment_detail?moments_id=<%=item.moments_id%>"><%=item.title%></a></div>
            <div class="l-3 clearfix">
                <span>#<%=item.name%>#</span><a href="/mobile/Dynamics/moment_detail?moments_id=<%=item.moments_id%>&uid=<%=item.user_id%>"><%=item.moments_content%></a>
            </div>
            <div class="l-4 clearfix">
                <%if (item.moments_imgs[0]) {%>
                    <%item['moments_imgs'].forEach(function(img,v){%>
                    <a href="/mobile/Dynamics/moment_img?moments_id=<%=item.moments_id%>&uid=<%=item.user_id%>" class="a"><img
                            src="<%=img%>"></a>
                    <%})%>
                <%}%>
                <%if (item.moments_mp4[0]) {%>
                    <%item['moments_mp4'].forEach(function(k,v){%>
                    <a href="img_info.html?moments_id=<%=item.moments_id%>&user_id=<%=item.user_id%>&<%=item.user_id%>" class="a">
                        <video loop src="<%=k%>" width="180" height="180"></video>
                    </a>
                    <%})%>
                <%}%>
            </div>
            <div class="l-5 clearfix">
                <div class="left">浏览<%=item.click%>次</div>
                <%if (item.like == 0){%>
                    <div class="right"><p><b class="dianz-1" onclick="like(this)" moments-id="<%=item.moments_id%>"></b><span><%=item.like_sum%></span></p><div class="pinl-2" <%if(!item.is_talk){%> onclick="comments(this,{$user.user_id},<%=item.moments_id%>,'',0)"<%}%>></div></div>
                <%}else{%>
                    <div class="right"><p><b class="dianz-2" onclick="like(this)" moments-id="<%=item.moments_id%>"></b><span><%=item.like_sum%></span></p><div class="pinl-2" <%if(!item.is_talk){%> onclick="comments(this,{$user.user_id},<%=item.moments_id%>,'',0)"<%}%>></div></div>
            <%}%>
        </div>
        <%if (item.comment[0] || item.is_talk){%>
            <div class="l-6 clearfix" id="moments-<%=item.moments_id%>">
                <%if (item.is_talk){%>
                    <p>该动态处于禁言中</p>
                <%}else{%>
                    <%item['comment'].forEach(function(c){%>
                        <%if (c.p_name){%>
                            <p onclick="comments(this,{$user.user_id},<%=item.moments_id%>,'<%=c.nickname?c.nickname:'用户'+c.user_id %>',<%=c.pid%>,<%=c.user_id%>)"><span><%=c.nickname%>回复<%=c.p_name%>：</span><%=c.comment_content%></p>
                        <%}else{%>
                            <p onclick="comments(this,{$user.user_id},<%=item.moments_id%>,'<%=c.nickname?c.nickname:'用户'+c.user_id %>',<%=c.pid%>,<%=c.user_id%>)"><span><%=c.nickname%>：</span><%=c.comment_content%></p>
                         <%}%>
                    <%})%>
                <%}%>
            </div>
            <%}%>
            <%if(item['comment'].length>=3){%>
            <a href="/mobile/Dynamics/moment_detail?moments_id=<%=item.moments_id%>&uid=<%=item.user_id%>" class='l-7 clearfix'>
                <img src="__STATIC__/images/top_1.png" alt="">
                <span>点击查看更多内容</span>
            </a>
            <%}%>
        </div>
    </div>
    <%})%>
</script>

<script type="text/javascript" src="__STATIC__/js/template.js"></script>
<script>
    var list_type = 0;
    var page = 0;
    var before_request = 1;
    var data = {};
    var cancel = false;
    var keywords ='{$keywords}';

    $(document).ready(function(){
        teafriend_list(list_type);
    });


    //滚动加载更多
    $(window).scroll(
        function() {
            var scrollTop =parseInt($(this).scrollTop());
            var scrollHeight = parseInt($(document).height());
            var windowHeight = parseInt($(this).height());
            //  console.log(scrollTop,windowHeight,scrollHeight)       ;
            if (scrollTop + windowHeight >= scrollHeight +50) {
                teafriend_list(list_type);
            }
        }
    );


    function teafriend_list(type){
        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;
        ++page;
        var where = {page: page, type: type, keywords:keywords };
        $.extend(data,where );
        $.ajax({
            type: "POST",
            url: "{:U('Dynamics/momentsList')}",
            data: data,
            dataType: "json",
            success: function (data) {
                before_request = 1;
                if (data.status == 1) {
                    if(data.result.length == 0 && page > 1){
                        if(!cancel){
                            return layer.open({content: '已经到底啦~',time:1});
                        }
                        if(cancel) cancel = false
                    }
                    else if(data.result.length == 0 && page == 1){
                        $('.li-fabu-zong.clearfix').html('<li><span style="position: absolute;left: 40%;width: 100%;font-size:.47rem;color:#999;">暂无数据哦~</span></li>');
                    }
                    else{
                        var list = document.getElementById('list').innerHTML;
                        var html = template(list, data);
                        $('.li-fabu-zong.clearfix').append(html);
                    }

                } else {
                    return layer.open({content: '获取动态失败，请稍等再试!',time:1});
                }

            }
        });
    }


    //换头部获取数据
    $(".tab-fabu > li > a").click(function(){
        $(this).addClass("bads").parents('li').siblings('li').find('a').removeClass('bads');
        $('.tab-fabu .bads').find('.l-1').show().parents('li').siblings('li').find('.l-1').hide();

        $(".li-fabu-zong.clearfix").html('');
        var type = $(this).parents().index();
        list_type = type;
        page = 0;
        teafriend_list(type);
    });



    function attention(e){
        event.stopPropagation();
        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;
        var user_id = $(e).attr('user-id');
        $.ajax({
            type:"get",
            url:"/index.php?m=Mobile&c=Dynamics&a=ajaxAttention&id="+user_id,
            dataType:'json',
            success: function(data)
            {
                before_request = 1;
                if(data.status == 0){
                    return layer.open({content: data.msg,time:1});
                }else{
                    if($(e))
                    $(e).removeClass().addClass()
                    $('#ul li').each(function(index,item){
                        if(list_type == 3){
                            cancel = true;
                            if($(item).attr('user_id') == user_id){
                                $(item).remove();
                            }
                        }else{
                            if($(item).attr('user_id') == user_id){
                                $(item).find('div[class^="dynamic-txt"]').find('div').find('h3').find('span').text(data.state);
                            }
                        }

                    });

                    if(list_type == 3 && $('#ul')[0].children.length == 0){
                        $('#ul').html('<li><span style="position: absolute;left: 40%;width: 100%;font-size:.47rem;color:#999;">暂无数据哦~</span></li>');
                    }
                    var msg = data.state == '关注' ? '取消成功' : '已关注';
                    if(data.state == '关注'){
                        $(e).addClass('hiac-an');
                    }else{
                        $(e).addClass('hiac-an-1');
                    }
                    return layer.open({content:msg,time:1});
                }

            }
        })
    }


    function  is_login() {
        if ($.cookie('user_id') <= 0 || !$.cookie('user_id')) {
            if(confirm("请先登录！！"))
            {
                window.location.href="{:U('mobile/User/login')}";
                return false;
            }else{
                return false;
            }
        }
        return true;
    }

    function like(e) {
        event.stopPropagation();
        if(!is_login()){
            return false;
        }
        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;
        var src = $(e).find('img').attr('src');
        // var text = $(e).find('b').text($(e).find('b').text()-0+1);
        var moments_id = $(e).attr('moments-id');
        $.ajax({
            type: "POST",
            url: "{:U('Dynamics/addLike')}",
            data: { moments_id: moments_id},
            dataType: "json",
            success: function (data) {
                before_request = 1;
                if (data.status == 1) {
                    if (src == '__STATIC__/img/prise-light.png') {
                        $(e).find('img').attr('src', '__STATIC__/img/prise.png');
                        $(e).find('b').text($(e).find('b').text() - 1);

                        //不能自己给自己的动态增加能量值
                        if($(e).parent().parent().parent().attr('user_id') != $.cookie('user_id')){
                            var num = $(e).parent().parent().find('div[class^="nick-name"]').find('h3').find('i').text() - 1;
                            $(e).parent().parent().find('div[class^="nick-name"]').find('h3').find('i').text(num)
                        }
                    } else {
                        $(e).find('img').attr('src', '__STATIC__/img/prise-light.png');
                        $(e).find('b').text($(e).find('b').text() - 0 + 1);

                        //不能自己给自己的动态增加能量值
                        if($(e).parent().parent().parent().attr('user_id') != $.cookie('user_id')){
                            var num = $(e).parent().parent().find('div[class^="nick-name"]').find('h3').find('i').text() - 0 + 1;
                            $(e).parent().parent().find('div[class^="nick-name"]').find('h3').find('i').text(num)
                        }


                    }

                }else if (data.status == -101){
                    return layer.open({content: data.msg,time:1});
                }
                else if(data.status == -1){
                    return layer.open({content:data.msg,time:1,end:function(){
                            window.location.href = "{:U('User/login')}";
                        }});
                }
                else {
                    return layer.open({content: data.msg,time:1});
                }
                if($(e).attr('class')=='dianz-1'){
                    var bana = $(e).siblings('span').text();
                    bana=parseInt(bana)
                    $(e).siblings('span').text(bana+1)
                    $(e).removeClass('dianz-1').addClass('dianz-2')
                }else{
                    var bana = $(e).siblings('span').text();
                    bana=parseInt(bana)
                    $(e).siblings('span').text(bana-1)
                    $(e).removeClass('dianz-2').addClass('dianz-1')
                }
            }
        });

    };

    function go(mid,uid){
        if(!is_login()){
            return false;
        }
        window.location.href="{:U('Dynamics/moment_detail')}" + '?moments_id='+ mid + '&user_id=' + uid;
    }

    function mine_teafriend(uid) {
        if(!is_login()){
            return false;
        }
        window.location.href="{:U('Dynamics/homePage')}" + '?id='+ uid;

    }

    function del(e) {
        event.stopPropagation();
        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;
        var moments_id = $(e).parent().parent().attr('moments');
        if (confirm("确认删除吗")) {
            $.ajax({
                type: "POST",
                url: "{:U('Dynamics/delMoments')}",
                data: { moments_id: moments_id},
                dataType: "json",
                success: function (data) {
                    before_request =1;
                    if (data.status == 1) {
                        $(e).parent().parent().parent().remove();

                    }else if (data.status == -101){
                        return layer.open({content: data.msg,time:1});
                    }
                    else if(data.status == -1){
                        return layer.open({content:data.msg,time:1,end:function(){
                                window.location.href = "{:U('User/login')}";
                            }});
                    }
                    else {
                        return layer.open({content: data.msg,time:1});
                    }

                }
            });
        } else {
            return;
        }

    };

    function delCom(e) {
        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;
        var moments_id = $(e).parent().parent().parent().attr('moments');
        var comment_id = $(e).attr('comment');
        console.log(comment_id)
        if (confirm("确认删除吗")) {
            $.ajax({
                type: "POST",
                url: "{:U('Dynamics/delComment')}",
                data: { moments_id: moments_id, comment_id: comment_id},
                dataType: "json",
                success: function (data) {
                    before_request = 1;
                    if (data.status == 1) {
                        if ($(e).parent().parent().children().length == 1) {
                            $(e).parent().parent().remove();
                        } else {
                            $(e).parent().remove();
                        }
                    }else if (data.status == -101){
                        return layer.open({content: data.msg,time:1});
                    }
                    else if(data.status == -1){
                        return layer.open({content:data.msg,time:1,end:function(){
                                window.location.href = "{:U('User/login')}";
                            }});
                    }
                    else {
                        return layer.open({content: data.msg,time:1});
                    }

                }
            });
        } else {
            return;
        }
    }


    function comments(e, user_id, moments_id, p_name, pid,p_user_id) {
        if(!is_login()){
            return false;
        }

        that = $(e);
        var display = $('.writing-comments').css('display');
        if (display == 'none') {
            $('.writing-comments').css('display', 'block');
            $('textarea').focus();
        } else {
            $('.writing-comments').css('display', 'none');
        }
        $('#val').attr('data_id', user_id)
        $('#val').attr('data_moments_id', moments_id)
        $('#val').attr('data_p_name', p_name)
        $('#val').attr('data_pid', pid)

        if (p_name & p_user_id != {$user.user_id|default='0'}) {
            $('textarea').attr('placeholder', '回复 ' + p_name + ':');
        } else {
            $('textarea').attr('placeholder', '评论一下:');
        }

    }


    function sub() {
        if(!is_login()){
            return false;
        }


        if(before_request == 0)// 上一次请求没回来 不进行下一次请求
            return false;
        before_request = 0;

        var textarea = $('textarea').val();
        var text = textarea.replace(/\s/ig, '');
        if (text == '') {
            return false;
        }
        var user_id = $('#val').attr('data_id');
        var moments_id = $('#val').attr('data_moments_id');
        var p_name = $('#val').attr('data_p_name');
        // var pid = $('#val').attr('data_pid');
        $.ajax({
            type: "POST",
            url: "{:U('Dynamics/addComment')}",
            data: {
                moments_id: moments_id,
                comment_content: textarea,
                p_name: p_name ? p_name : '',
                pid: user_id ? user_id : 0,
            },
            dataType: "json",
            success: function (data) {
                before_request = 1;
                if (data.status == 1) {
                    if($('#moments-'+moments_id).length==0){
                        // $('clearfix-'+moments_id).append('<div class="l-6 clearfix" id="moments-'+moments_id+'"><p><span>{$user.user_id}:'+text+'</span></p></div>')
                    }
                    else if(p_name==''){
                        $('#moments-'+moments_id).append('<p><span>{$user.nickname}：</span>'+text+'</p>')
                    }else{
                        $('#moments-'+moments_id).append('<p><span>{$user.nickname}回复'+p_name+'：</span>'+text+'</p>')
                    }

                    $('.writing-comments').css('display', 'none')
                    $('textarea').val('');
                    $('textarea').attr('placeholder', '评论一下:');
                    $('#val').removeAttr('data_id')
                    $('#val').removeAttr('data_moments_id')
                    $('#val').removeAttr('data_p_name')
                    $('#val').removeAttr('data_pid')
                }else if (data.status == -101){
                    return layer.open({content: data.msg,time:1});
                }
                else if(data.status == -1){
                    return layer.open({content:data.msg,time:1,end:function(){
                            window.location.href = "{:U('User/login')}";
                        }});
                }
                else {
                    return layer.open({content: data.msg,time:1});
                }

            }
        });
    }
</script>



</body>
</html>