<table>
    <volist name="orderList" id="list">
        <tbody>
        <assign name="goodsList" value="$goodsArr[$list['order_id']]" />
        <volist name="goodsList" id="good" key='k'>
            <tr>
                <td class="sign">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width:150px;">{$list.order_sn}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width:120px;">{$list.consignee}:{$list.mobile}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: left; width: 60px;">{$list.goods_price}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: left; width: 60px;">{$list.order_amount}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: center; width: 60px;">
                        {$order_status[$list[order_status]]}
                    </div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 60px;">{$pay_status[$list[pay_status]]}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 60px;">{$list.pay_name|default='其他方式'}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 60px;">{$list.shop.shop_name}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 120px;">
                        {$list.take_time}
                    </div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 120px;">
                        {$list.add_time|date='Y-m-d H:i',###}
                    </div>
                </td>
                <td align="center" abbr="article_time" axis="col6" class="">
                    <div style="text-align: center; width: 160px;" class="">{$store_list[$list[store_id]]}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 120px;">
                        <a href="{:U('Admin/order/detail',array('order_id'=>$list['order_id']))}" class="btn blue"><i class="fa fa-search"></i>查看</a>
                    </div>
                </td>
                <td align="" class="" style="width: 100%;">
                    <div>&nbsp;</div>
                </td>
            </tr>
        </volist>
        </tbody>
    </volist>

</table>
<div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right">{$page}</div>
</div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });

    $( 'h5', '.ftitle').empty().html("(共{$pager->totalRows}条记录)");
</script>