<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>店铺管理 - 经营类目</h3>
				<h5>网站系统经营类目索引与管理</h5>
			</div>
			<ul class="tab-base nc-row">
				<li><a href="{:U('Store/store_list')}"><span>店铺列表</span></a></li>
				<li><a href="{:U('Store/apply_list')}"><span>开店申请</span></a></li>
				<li><a href="{:U('Store/reopen_list')}"><span>签约申请</span></a></li>
				<li><a href="{:U('Store/apply_role_list')}"><span>店铺角色申请</span></a></li>
				<li><a href="{:U('Store/apply_seller_bind')}"><span>商家角色绑定申请</span></a></li>
				<li><a href="{:U('Store/apply_class_list')}" class="current"><span>经营类目申请</span></a></li>
			</ul>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<li>第三方店铺提交申请的经营类目</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>经营类目列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" id="search-form" action="{:U('Store/apply_class_list')}" method="get">
				<div class="sDiv">
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="state" class="form-control">
							<option value="">申请状态</option>
							<option value="0" <if condition="$Request.param.state heq '0'">selected</if>>待审核</option>
							<option value="1" <if condition="$Request.param.state eq '1'">selected</if>>已通过</option>
							<option value="2" <if condition="$Request.param.state eq '2'">selected</if>>已拒绝</option>
						</select>
					</div>
					<div class="sDiv2">
						<input size="30" name="store_name" value="{$Think.get.store_name}" class="qsbox" placeholder="输入店铺名称" type="text">
						<input class="btn" value="搜索" type="submit">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 300px;" class="">经营类目</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 120px;" class="">店铺名称</div>
						</th>
						<th align="left" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 120px;" class="">店主账号</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">销售商</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 50px;" class="">供应商</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">分佣比例</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">审核状态</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="bind_class" item="vo" key="k" >
						<tr  <if condition="$vo.state eq 0">style="color: #ff7b86;background-color: #ffe7e9;"</if>>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 300px;">{$vo.class_1_name}=>{$vo.class_2_name}=>{$vo.class_3_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.store_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$vo.seller_name}</div>
							</td>
							
							<td align="center" class="">
								<div style="text-align: center; width: 50px;">
									<if condition='$vo[is_dealer] eq 1'>
										<span class="yes">是</span>
										<else />
										<span class="no">否</span>
									</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 50px;">
									<if condition='$vo[is_supplier] eq 1'>
										<span class="yes">是</span>
										<else />
										<span class="no">否</span>
									</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$vo.commis_rate}%</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">
									<if condition="$vo.state eq 0">待审核</if>
									<if condition="$vo.state eq 1">已通过</if>
									<if condition="$vo.state eq 2">已拒绝</if>
								</div>
							</td>
							<td align="left" class="handle">
								<div style="text-align: left; width: 170px; max-width:170px;">
									<if condition="$vo.state eq 0">
										<a href="{:U('Store/apply_class_save',array('bid'=>$vo[bid],'state'=>1))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>审核</a>
										<a href="{:U('Store/apply_class_save',array('bid'=>$vo[bid],'state'=>2))}" class="btn red"><i class="fa fa-ban"></i>拒绝</a>
									</if>
									<a class="btn red"  href="javascript:void(0)" data-url="{:U('Store/apply_class_save')}" data-id="{$vo.bid}" onClick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page->show()} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: $(obj).attr('data-url'),
				data : {act:'del',del_id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					layer.closeAll();
					if (data) {
						$(obj).parent().parent().parent().remove();
					} else {
						layer.alert('删除失败', {icon: 2});  //alert('删除失败');
					}
				}
			})
		}, function () {
			layer.closeAll();
		});
	}
</script>
</body>
</html>