<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>二级域名 - 编辑</h3>
        <h5>商城店铺使用二级域名管理设置</h5>
      </div>
    </div>
  </div>
  <form id="store_form" method="post">
    <input type="hidden" name="form_submit" value="ok">
    <input type="hidden" name="store_id" value="{$store.store_id}">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label>店主账号</label>
        </dt>
        <dd class="opt">{$store.seller_name}<span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label> 店铺</label>
        </dt>
        <dd class="opt">{$store.store_name}<span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label>二级域名</label>
        </dt>
        <dd class="opt">
          <input type="text" value="{$store.store_domain}" id="store_domain" name="store_domain" class="input-txt">
          <span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>
      <!--
      <dl class="row">
        <dt class="tit">
          <label>已修改次数</label>
        </dt>
        <dd class="opt">
          <input type="text" value="0" id="store_domain_times" name="store_domain_times" class="input-txt">
          <span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>-->
      <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a> </div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $('#submitBtn').click(function(){
         if($('#store_domain').val() == ''){
              layer.alert('域名不能为空', {icon: 2});
              return;
         }else{
            $('#store_form').submit();
         }
      })
  });
</script>
</body>
</html>