<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>店铺管理</h3>
				<h5>网站系统店铺索引与管理</h5>
			</div>
			<ul class="tab-base nc-row">
				<li><a href="{:U('Store/store_list')}"><span>店铺列表</span></a></li>
				<li><a href="{:U('Store/apply_list')}"><span>开店申请</span></a></li>
				<li><a href="{:U('Store/reopen_list')}"  class="current"><span>签约申请</span></a></li>
				<li><a href="{:U('Store/apply_role_list')}"><span>店铺角色申请</span></a></li>
				<li><a href="{:U('Store/apply_seller_bind')}"><span>商家角色绑定申请</span></a></li>
				<li><a href="{:U('Store/apply_class_list')}"><span>经营类目申请</span></a></li>
			</ul>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>店铺列表</h3>
				<h5>(共{$page->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" id="search-form" action="{:U('Store/reopen_list')}" method="post">
				<div class="sDiv">
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="grade_id" class="form-control">
							<option value="">所属等级</option>
							<foreach name="store_grade" id="item" key="key">
								<option value="{$key}" <if condition="$Think.post.grade_id eq $key">selected</if>>{$item}</option>
							</foreach>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="sc_id" class="form-control">
							<option value="">店铺类别</option>
							<foreach name="store_class" id="item" key="k">
								<option value="{$k}" <if condition="$Think.post.sc_id eq $k">selected</if>>{$item}</option>
							</foreach>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;">
						<input size="30" name="seller_name" value="{$Think.post.seller_name}" placeholder="店主名称" class="qsbox" type="text">
					</div>
					<div class="sDiv2">
						<input size="30" name="store_name" value="{$Think.post.store_name}" class="qsbox" placeholder="输入店铺名称" type="text">
						<input class="btn" value="搜索" type="submit">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: center; width: 80px;" class="">等级名称</div>
						</th>
                        <th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: center; width: 200px;" class="">店铺名称</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: center; width: 120px;" class="">申请时间</div>
						</th>
						<th align="left" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 120px;" class="">收费标准(元/年)</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">续签时长(年)</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 100px;" class="">付款金额(年)</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 180px;" class="">续签起止有效期</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 100px;" class="">状态</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 100px;" class="">付款凭证</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo.re_grade_name}</div>
							</td>
                            <td align="left" class="">
								<div style="text-align: center; width: 200px;">{$vo.re_store_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$vo.re_create_time|date='Y-m-d H:i:s',###}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">{$vo.re_grade_price}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$vo.re_year}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;">{$vo.re_pay_amount}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 180px;">
                                 {:date('Y-m-d',$vo.re_start_time)} 至 {:date('Y-m-d',$vo.re_end_time)}
                                </div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;">{$vo.reopen_state}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;"><img src="{$vo.re_pay_cert}"style="width: 30px;height: 30px;"></div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 170px; max-width:170px;">
                                        <a href="{:U('admin/Store/reopen_info',['re_id'=>$vo.re_id])}" class="btn blue"><i class="fa fa-pencil-square-o"></i>查看</a>
									<a class="btn red"  href="javascript:void(0)" onclick="delfun(this)" data-url="{:U('admin/Store/reopen_del')}" data-id="{$vo.re_id}"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page->show()} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
                url: $(obj).attr('data-url'),
                data : {re_id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					layer.closeAll();
					if (data.status == 1) {
                        layer.alert(data.msg, {icon: 1},function () {
                            window.location.reload();
                        });
						$(obj).parent().parent().parent().remove();
					} else {
						layer.alert(data.msg, {icon: 2});  //alert('删除失败');
					}
				}
			})
		}, function () {
			layer.closeAll();
		});
	}
</script>
</body>
</html>