<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>店铺管理</h3>
				<h5>网站系统店铺索引与管理</h5>
			</div>
			<ul class="tab-base nc-row">
				<li><a href="{:U('Store/store_list')}" class="current"><span>店铺列表</span></a></li>
				<li><a href="{:U('Store/apply_list')}"><span>开店申请</span></a></li>
				<li><a href="{:U('Store/reopen_list')}"><span>签约申请</span></a></li>
				<li><a href="{:U('Store/apply_role_list')}"><span>店铺角色申请</span></a></li>
				<li><a href="{:U('Store/apply_seller_bind')}"><span>商家角色绑定申请</span></a></li>
				<li><a href="{:U('Store/apply_class_list')}"><span>经营类目申请</span></a></li>
			</ul>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
			<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
			<span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		<ul>
			<!--<li>如果当前时间超过店铺有效期或店铺处于关闭状态，前台将不能继续浏览该店铺，但是店主仍然可以编辑该店铺</li>-->
			<li>如果当前店铺处于关闭状态，前台将不能继续浏览该店铺，但是店主仍然可以编辑该店铺</li>
		</ul>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>店铺列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
			<form class="navbar-form form-inline" id="search-form" action="{:U('Store/store_list')}" method="get">
				<div class="sDiv">
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="grade_id" class="form-control">
							<option value="">所属等级</option>
							<volist name="store_grade" id="item" key="k">
								<option value="{$k}" <if condition="$Think.get.grade_id eq $k">selected</if>>{$item}</option>
							</volist>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="sc_id" class="form-control">
							<option value="">店铺类别</option>
							<volist name="store_class" id="item" >
								<option value="{$key}" <if condition="$Think.get.sc_id eq $key">selected</if>>{$item}</option>
							</volist>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;border: none;">
						<select name="store_state" class="form-control">
							<option value="">店铺状态</option>
                            <option value="0" <if condition="$Think.get.store_state eq '0'">selected</if>>关闭</option>
							<option value="1" <if condition="$Think.get.store_state eq '1'">selected</if>>开启</option>
							<option value="2" <if condition="$Think.get.store_state eq '2'">selected</if>>审核中</option>
							<option value="3" <if condition="$Think.get.store_state eq '3'">selected</if>>即将到期</option>
							<option value="4" <if condition="$Think.get.store_state eq '4'">selected</if>>已到期</option>
							<option value="5" <if condition="$Think.get.store_state eq '5'">selected</if>>已删除</option>
						</select>
					</div>
					<div class="sDiv2" style="margin-right: 10px;">
						<input size="30" name="seller_name" value="{$Think.get.seller_name}" placeholder="卖家账号" class="qsbox" type="text">
					</div>
					<div class="sDiv2">
						<input size="30" name="store_name" value="{$Think.get.store_name}" class="qsbox" placeholder="输入店铺名称" type="text">
						<input class="btn" value="搜索" type="submit">
					</div>
				</div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">店铺ID</div>
                        </th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 120px;" class="">店铺名称</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">店主账号</div>
						</th>
						<th align="left" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 120px;" class="">店主昵称</div>
						</th>
						<th align="left" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 80px;" class="">推荐人</div>
						</th>
						<th align="left" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 50px;" class="">店铺会员</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">所属等级</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 40px;" class="">销售商</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 40px;" class="">供应商</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">店铺类别</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">进驻日期</div>
						</th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 80px;" class="">有效期</div>
                        </th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 80px;" class="">营业额</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 40px;" class="">状态</div>
						</th>
						<th align="center" abbr="article_time" axis="col6" class="">
							<div style="text-align: center; width: 40px;" class="">推荐</div>
						</th>
						<th align="center" axis="col1" class="">
							<div style="text-align: center; width: 300px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv">
			<div class="tDiv2">
				<div class="fbutton"> <a href="{:U('Store/store_add',array('is_own_shop'=>0))}">
					<div class="add" title="新增店铺">
						<span><i class="fa fa-plus"></i>新增店铺</span>
					</div>
				</a> </div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
                            <td align="left" class="">
                                <div style="text-align: center; width:50px;">{$vo.store_id}</div>
                            </td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.store_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$sellers[$vo.store_id]}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 120px;">
									{$vo.seller_name}
								</div>
							</td>
							<td align="left" class="">
								<div style="text-align: center; width: 80px;">{$vo['InviteUser']['user_id']?$vo['InviteUser']['nickname']?$vo['InviteUser']['nickname']:$vo['InviteUser']['mobile']:'无'}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 50px;">{$vo['store_member_count']}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$store_grade[$vo[grade_id]]}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 40px;">
									<if condition='$vo[is_dealer] eq 1'>
										<span class="yes">是</span>
										<else />
										<span class="no">否</span>
									</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 40px;">
									<if condition='$vo[is_supplier] eq 1'>
										<span class="yes">是</span>
										<else />
										<span class="no">否</span>
									</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$store_class[$vo[sc_id]]}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$vo.store_time|date='Y-m-d',###}</div>
							</td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 80px;">
                                    <if condition="$vo.store_end_time eq 0">
                                        长期
                                        <else/>
                                        {$vo.store_end_time|date='Y-m-d',###}
                                    </if>
                                </div>
                            </td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">{$vo['StoreOrderSum']}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 40px;">
									<if condition="$vo[store_state] eq 1">开启<else/>关闭</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 40px;">
									<if condition='$vo[store_recommend] eq 1'>
										<span class="yes" onClick="changeTableVal('store','store_id','{$vo.store_id}','store_recommend',this)" ><i class="fa fa-check-circle"></i>是</span>
										<else />
										<span class="no" onClick="changeTableVal('store','store_id','{$vo.store_id}','store_recommend',this)" ><i class="fa fa-ban"></i>否</span>
									</if>
								</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 300px;">
									<a href="{:U('Store/store_info',array('store_id'=>$vo['store_id']))}" class="btn blue"><i class="fa fa-search"></i>查看</a>
									<a href="{:U('Store/store_info_edit',array('store_id'=>$vo['store_id']))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>编辑</a>
									<a href="{:U('Store/store_class_info',array('store_id'=>$vo['store_id']))}" class="btn blue"><i class="fa fa-cog"></i>经营类目</a>
                                    <if condition="$vo.deleted neq 1">
									<a class="btn red"  href="javascript:void(0)" data-url="{:U('Store/store_del')}" data-id="{$vo.store_id}" onClick="delfun(this)"><i class="fa fa-trash-o"></i>删除</a>
                                    </if>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$page} </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: $(obj).attr('data-url'),
				data : {act:'del',del_id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					layer.closeAll();
					if (data.status == 1) {
						$(obj).parent().parent().parent().remove();
						layer.msg(data.msg, {icon: 1});
					} else {
						layer.alert(data.msg, {icon: 2});
					}
				}
			})
		}, function () {
			layer.closeAll();
		});
	}
</script>
</body>
</html>