<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: #FFF; overflow: auto;"> 
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>品牌详情</h3>
        <h5>品牌添加与管理</h5>
      </div>
    </div>
  </div>
    <!--表单数据-->
    <form method="post" id="addEditBrandForm" onsubmit="return checkName();">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label><em>*</em>品牌名称</label>
        </dt>
        <dd class="opt">
          <input type="text" placeholder="名称" class="input-txt" name="name" value="{$brand.name}">
		  <span class="err" id="err_name" style="color:#F00; display:none;">品牌名称不能为空</span>                                                  
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">
          <label>品牌网址</label>
        </dt>
        <dd class="opt">
          <input type="text" class="input-txt" name="url" value="{$brand.url}">
		  <span  class="err" id="err_url" style="color:#F00; display:none;"></span>                                                     
          <p class="notic"></p>
        </dd>
      </dl>      
	  <dl class="row">
        <dt class="tit" colspan="2">
          <label>上级分类</label>
        </dt>
        <dd class="opt">
          <div id="gcategory">
            <select name="cat_id1" id="cat_id1" onchange="get_category(this.value,'cat_id2','0');" class="class-select valid">
                <option value="0">请选择分类</option>
                <foreach name="cat_list" item="v" >                                            
                    <option value="{$v[id]}"  <if condition="$v[id] eq $brand[cat_id1]"> selected="selected" </if>>{$v[name]}</option>
                </foreach>                                            
            </select>
           <select name="cat_id2" id="cat_id2"  class="form-control"  class="class-select valid">
             <option value="0">请选择分类</option>
           </select>                   
          </div>
          <p class="notic">最多成为第三级,如果设置为第二级, 只选择第一级即可</p>
        </dd>
      </dl>

      <dl class="row">
        <dt class="tit">
          <label>品牌logo</label>
        </dt>
        <dd class="opt">
          <div class="input-file-show">
              <span class="show">
                  <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="{$brand.logo}">
                    <i id="img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$brand.logo}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                  </a>
              </span>
              <span class="type-file-box">
                  <input type="text" id="logo" name="logo" value="{$brand.logo}" class="type-file-text">
                  <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                  <input class="type-file-file" onClick="GetUploadify(1,'','brand','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo"
                         title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
              </span>
          </div>
          <span class="err"></span>
          <p class="notic" style="color:#2cbca3">请上传图片格式文件,建议尺寸大小: 100*30</p>
        </dd>
      </dl>
                 		 		       
      <dl class="row">
        <dt class="tit">
          <label>排序</label>
        </dt>
        <dd class="opt">
          <input type="text" placeholder="排序" name="sort" value="{$brand.sort}" class="input-txt" onKeyUp="this.value=this.value.replace(/[^\d]/g,'')">
          <span class="err"></span>
          <p class="notic"></p>
        </dd>
      </dl>
	  <dl class="row">
        <dt class="tit">
          <label>品牌描述</label>
        </dt>
        <dd class="opt">
          
          <textarea rows="4" cols="60" name="desc" class="input-txt">{$brand.desc}</textarea>
          <span class="err" id="err_desc" style="color:#F00; display:none;"></span>                
          <p class="notic"></p>
        </dd>
      </dl>	
      <if condition="$brand[status] gt 0">
      <dl class="row">
        <dt class="tit">
          <label>审核状态</label>
        </dt>
        <dd class="opt">
             <input type="radio" name="status" value="0" />审核通过
             <input type="radio" name="status" value="2" <if condition="$brand[status] eq 2">checked="checked"</if> />审核失败

        </dd>
      </dl>
      </if>                       
      <div class="bot"><a href="JavaScript:void(0);" onClick="$('#addEditBrandForm').submit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
    </div>
        <input type="hidden" name="id" value="{$brand.id}">
        <input type="hidden" name="p" value="{$_GET[p]}">   
  </form>
</div>
<script>
// 判断输入框是否为空
function checkName(){
	var name = $("#addEditBrandForm").find("input[name='name']").val();
    if($.trim(name) == '')
	{
		$("#err_name").show();
		return false;
	}
	return true;
}

window.onload = function(){
	
	var brand_cat_id2 = parseInt('{$brand.cat_id2}');
	if(brand_cat_id2 > 0 ){
		get_category($("#cat_id1").val(),'cat_id2',brand_cat_id2);	 
	}	
}
function img_call_back(fileurl_tmp)
{
  $("#logo").val(fileurl_tmp);
  $("#img_a").attr('href', fileurl_tmp);
  $("#img_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
}
</script>
</body>
</html>