<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: #FFF; overflow: auto;"> 
<div class="page">
  <div class="fixed-bar">
    <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
      <div class="subject">
        <h3>规格管理 </h3>
        <h5>编辑添加与管理</h5>
      </div>
    </div>
  </div>
	<form method="post" id="addEditSpecForm">
    <div class="ncap-form-default">
      <dl class="row">
        <dt class="tit">
          <label for="ac_name"><em>*</em>规格名称</label>
        </dt>
        <dd class="opt">
          <input type="text" value="{$spec.name}" name="name"   class="input-txt"/>
          <span id="err_name" class="err" style="color:#F00; display:none;"></span>        
          <p class="notic"></p>
        </dd>
      </dl>
      <dl class="row">
        <dt class="tit">
          <label for="parent_id"><em>*</em>所属分类</label>
        </dt>
        <dd class="opt">  
            <select name="cat_id1" id="cat_id1" onblur="get_category(this.value,'cat_id2','0');$('#cat_id3').empty().html('<option value=0>请选择分类</option>');" class="small form-control"  >
                <option value="0">请选择分类</option>                                        
                <foreach name="cat_list" item="v" >                                            
                    <option value="{$v[id]}"  <if condition="$v[id] eq $spec[cat_id1]"> selected="selected" </if>>{$v[name]}</option>
                </foreach>											
             </select>
              <select name="cat_id2" id="cat_id2" onblur="get_category(this.value,'cat_id3','0');"  class="small form-control"  >
                <option value="0">请选择分类</option>
              </select>
              <select name="cat_id3" id="cat_id3"  class="small form-control">
                <option value="0">请选择分类</option>
              </select>                
          <span class="err"></span>
          <p class="notic">所属分类, 用于快筛选用</p>
        </dd>
      </dl>		 		       
      <dl class="row">
        <dt class="tit">
          <label for="ac_sort">排序</label>
        </dt>
        <dd class="opt">
            <input type="text" value="{$spec.order|default='50'}" name="order"  class="input-txt"/>
            <span id="err_order" class="err" style="color:#F00; display:none;"></span>           
          <p class="notic"></p>
        </dd>
      </dl>	                
      <div class="bot"><a href="JavaScript:void(0);" onclick="ajax_submit_form('addEditSpecForm','{:U('Goods/addEditSpec?is_ajax=1')}');" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
    </div>
            <input type="hidden" name="id" value="{$spec.id}">
  </form>
</div>
<script>


window.onload = function(){ 	
	<if condition="$spec['cat_id2'] gt 0">
		 // 商品分类第二个下拉菜单
		 get_category('{$spec[cat_id1]}','cat_id2','{$spec[cat_id2]}');	
	</if>
	<if condition="$spec['cat_id3'] gt 0">
		// 商品分类第二个下拉菜单
		 get_category('{$spec[cat_id2]}','cat_id3','{$spec[cat_id3]}');	 
	</if>   	
}
</script>
</body>
</html>