<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>财务管理 - 提现申请</h3>
                <h5>网站系统财务管理提现申请</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="editForm" method="post">
        <input type="hidden" name="id[]" value="{$data.id}">
        <input type="hidden" name="store_id[]" value="{$data.store_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>店铺ID</label>
                </dt>
                <dd class="opt">
                    <a class="open" href="{:U('Store/store_info',array('store_id'=>$data[store_id]))}" target="blank">
                        {$data.store_id}<i class="fa fa-external-link " title="新窗口打开"></i>
                    </a>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>店铺名</label>
                </dt>
                <dd class="opt">{$store.store_name}</dd>
            </dl>
            <!--
            <dl class="row">
                <dt class="tit">
                    <label>店铺待提现余额</label>
                </dt>
                <dd class="opt"><strong class="red">{$store.pending_money}</strong>元</dd>
            </dl>
            -->
            <dl class="row">
                <dt class="tit">
                    <label>店铺可提现余额</label>
                </dt>
                <dd class="opt"><strong class="red">{$store.store_money}</strong>元</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请提现金额</label>
                </dt>
                <dd class="opt"><strong class="red">{$data.money}</strong>元</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请提现银行</label>
                </dt>
                <dd class="opt">{$data.bank_name}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>银行账号</label>
                </dt>
                <dd class="opt">{$data.bank_card}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>银行账户名</label>
                </dt>
                <dd class="opt">{$data.realname}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>申请时间</label>
                </dt>
                <dd class="opt">{$data.create_time|date="Y-m-d H:i",###}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>状态</label>
                </dt>
                <dd class="opt">
                    <if condition="$data[status] eq 0">申请中</if>
                    <if condition="$data[status] eq 1">申请成功</if>
                    <if condition="$data[status] eq -1">申请失败</if>
                    <if condition="$data[status] eq -2">无效作废</if>
                    <if condition="$data[status] eq 2">已完成转账</if>   
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>处理</label>
                </dt>
                <if condition="in_array($data[status],array(-1,0,1))">
                    <dd class="opt">
                        <input name="status" type="radio" value="0" <if condition="$data[status] eq 0"> checked </if>>待审核  &nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="status" type="radio" value="1" <if condition="$data[status] eq 1"> checked </if>>审核通过  &nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="status" type="radio" value="-1" <if condition="$data[status] eq -1"> checked </if>>审核失败
                    </dd>
                <else>
                    <dd class="opt">
                        <if condition="$data[status] eq -2">
                            <input name="status" type="radio" value="-2" checked>无效作废  &nbsp;&nbsp;&nbsp;&nbsp;
                        <else>
                            <input name="status" type="radio" value="2" checked>已完成转账  &nbsp;&nbsp;&nbsp;&nbsp;
                        </if>
                    </dd>
                </if>
            </dl>
            <dl class="row">
                <dt class="tit">备注</dt>
                <dd class="opt">
                    <textarea class="input-txt" rows="4" cols="60" id="remark" name="remark">{$data.remark}</textarea>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>提现流程</label>
                </dt>
                <dd class="opt">
                    1:店家前台申请提现<br/>
                    2:管理员审核通过<br/>
                    3:进入财务待转款列表<br/>
                    3:财务管理员给用户转账(转帐时自动扣除用户平台余额 ) <br/>
                </dd>
            </dl>
            <div class="bot">
                <if condition="in_array($data[status],array(-1,0,1))">
                    <a href="JavaScript:void(0);" onClick="confirm_withdrawals();" class="ncap-btn-big ncap-btn-green">确认提交</a>
                </if>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //提现处理
    function confirm_withdrawals()
    {
        if($.trim($('#remark').val()).length == 0)
        {
            layer.alert('请填写转账备注', {icon: 2});
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=Finance&a=store_withdrawals_update",//+tab,
            data: $('#editForm').serialize(),
            dataType: 'json',
            success: function (data) {
                if(data.status == 1){
                    layer.alert(data.msg, {
                        icon: 1,
                        closeBtn: 0
                    }, function(){
                        window.location.href="/index.php?m=Admin&c=Finance&a=store_withdrawals";
                    });
                }else{
                    layer.alert(data.msg, {icon: 2,time: 3000});
                }
            },
            error:function(){
                layer.alert('网络异常', {icon: 2,time: 3000});
            }
        });
    }
</script>
</body>
</html>