<include file="public/layout" />
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>投诉管理</h3>
        <h5>商城对商品交易投诉管理及仲裁</h5>
      </div>
      <ul class="tab-base nc-row">
      <li><a href="{:U('Service/complain_list',array('complain_state'=>1))}"><span>新投诉</span></a></li>
      <li><a href="{:U('Service/complain_list',array('complain_state'=>2))}"><span>对话中</span></a></li>
      <li><a href="{:U('Service/complain_list',array('complain_state'=>3))}"><span>待仲裁</span></a></li>
      <li><a href="{:U('Service/complain_list',array('complain_state'=>4))}"><span>已完成</span></a></li>
      <li><a href="{:U('Service/complain_subject_list')}" class="current"><span>主题设置</span></a></li>
      <li><a href="{:U('Service/complain_setting')}" ><span>时效设置</span></a></li></ul>    
   	</div>
  </div>
   <div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>商家主题列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 150px;" class="">投诉主题</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 300px;" class="">投诉主题描述</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 100px;" class="">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="tDiv"><div class="tDiv2"><div class="fbutton">
			<a href="{:U('Service/complain_subject_info')}"><div class="add"><span><i class="fa fa-plus"></i>新增数据</span></div></a>
			</div></div><div style="clear:both"></div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="list" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 150px;">{$vo.subject_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 300px;">{$vo.subject_desc}</div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 170px; max-width:170px;">
									<a class="btn red" onclick="delfunc(this)" href="javascript:;" data-id="{$vo['subject_id']}" data-url="{:U('Service/subject_del')}"><i class="fa fa-trash-o"></i>删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->{$page} 
	</div>
</div>
<script type="text/javascript">

</script> 
</body>
</html>