<include file="public/layout" />
<script type="text/javascript" src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>退货退款管理</h3>
        <h5>商品订单退货申请及审核处理</h5>
      </div>
      <ul class="tab-base nc-row"><li><a class="<if condition='$_GET[status] eq 0'>current</if>" href="{:U('Service/refund_list')}"><span>待处理</span></a></li>
      <li><a  class="<if condition='$_GET[status] eq 1'>current</if>" href="{:U('Service/refund_list',array('status'=>1))}"><span>所有记录</span></a></li></ul>
    </div>
  </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
     <ul>
      <li>买家提交申请，商家同意并经平台确认后，退款金额以预存款的形式返还给买家（账户余额）（支付宝支付或者微信用户微信支付支持原路退回）。</li>
    </ul>
  </div>
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>待处理的线上实物交易订单退货列表</h3>
        <h5>(共{$pager->totalRows}条记录)</h5>
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
	  <form class="navbar-form form-inline"  method="post" name="search-form2" id="search-form2">  
	  		<input type="hidden" name="order_by" value="order_id">
            <input type="hidden" name="sort" value="desc">
            <!--用于查看结算统计 包含了哪些订单-->
            <input type="hidden" value="{$_GET['order_statis_id']}" name="order_statis_id" />
      <div class="sDiv">
        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_begin" name="add_time_begin" value="" class="qsbox"  placeholder="开始时间">
        </div>
        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_end" name="add_time_end" value="" class="qsbox"  placeholder="结束时间">
        </div>
        <div class="sDiv2">
        	<select name="qtype" class="select" style="width:100px;margin-right:5px;margin-left:5px">
        			<option value="goods_name">商品名称</option>
                    <option value="store_name">店铺名称</option>
                    <!--<option value="nickname">买家账号</option>-->
                    <option value="order_sn">订单编号</option>   
            </select>
          </div>
          <div class="sDiv2">
          <input type="text" size="30" name="qv" class="qsbox" placeholder="搜索相关数据">
          <input type="submit"  class="btn" value="搜索">
        </div>
      </div>
     </form>
    </div>
    <div class="hDiv">
      <div class="hDivBox">
        <table cellspacing="0" cellpadding="0">
          <thead>
	        	<tr>
	              <th class="sign" axis="col0">
	                <div style="width: 24px;"><i class="ico-check"></i></div>
	              </th>
	              <th align="center" abbr="order_sn" axis="col3" class="">
	                <div style="text-align: center; width: 140px;" class="">订单编号</div>
	              </th>
                <th align="center" abbr="" axis="col6" class="">
                    <div style="text-align: center; width: 80px;" class="">买家会员</div>
                </th>
                    <th align="center" abbr="" axis="col6" class="">
                        <div style="text-align: center; width: 120px;" class="">商家名称</div>
                    </th>
	              <th align="center" abbr="" axis="col5" class="">
	                <div style="text-align: center;  width: 60px;" class="">申请图片</div>
	              </th>
	              <th align="center" abbr="" axis="col5" class="">
	                <div style="text-align: center; width: 100px;" class="">申请原因</div>
	              </th>
	              <th align="center" abbr="" axis="col5" class="">
	                <div style="text-align: center; width: 120px;" class="">申请时间</div>
	              </th>
	              <th align="center" abbr="" axis="col5" class="">
	              	<div style="text-align: center;  width: 50px;" class="">商品ID</div>
	              </th>
	              <th align="center" abbr="" axis="col5" class="">
	                <div style="text-align: center; width: 160px;" class="">涉及商品名称</div>
	              </th>
	              <th align="center" abbr="" axis="col5" class="">
	                <div style="text-align: center; width: 50px;" class="">退货数量</div>
	              </th>
	              <th align="center" abbr="" axis="col6" class="">
	                <div style="text-align: center; width: 80px;" class="">商家处理</div>
	              </th>
	              <th align="center" abbr="" axis="col6" class="">
	                <div style="text-align: center; width: 120px;" class="">商家审核时间</div>
	              </th>
	              <th align="center" abbr="handle" axis="col7">
	              	<div style="text-align: center; width: 60px;" class="">操作</div>
	              </th>
	              <th style="width:100%" axis="col7">
	                <div></div>
	              </th>
	            </tr>
	          </thead>
        </table>
      </div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
       	 <table>
		 	<tbody>
		 	<if condition="empty($list) eq true">
		 		<tr data-id="0">
			        <td class="no-data" align="center" axis="col0" colspan="50">
			        	<i class="fa fa-exclamation-circle"></i>没有符合条件的记录
			        </td>
			     </tr>
			<else/>
		 	<volist name="list" id="vo">
		  	<tr>
		        <td class="sign" axis="col0">
		          <div style="width: 24px;"><i class="ico-check"></i></div>
		        </td>
		        <td align="center" abbr="order_sn" axis="col3" class="">
		          <div style="text-align: center; width: 140px;" class=""><a href="{:U('Admin/order/detail',array('order_id'=>$vo['order_id']))}">{$vo.order_sn}</a></div>
		        </td>
                <td align="center" abbr="" axis="col6" class="">
                    <div style="text-align: center;width: 80px;" class="">{$vo.user_id}</div>
                </td>
                <td align="center" abbr="" axis="col6" class="">
                    <div style="text-align: center;width: 120px;" class="">{$store_list[$vo[store_id]]}</div>
                </td>
		        <td align="center" abbr="article_show" axis="col5" class="">
		          <div style="text-align: center;width: 60px;" class="">
					<empty name="vo[imgs]">
						无
						<else/>
                        <?php $imgs = explode(',',$vo[imgs]);?>
                        <foreach name="$imgs" item="img">
						<a href="{$img}"  target="_blank" class="pic-thumb-tip">
                            <img src={$img}  width="20" height="20">
                        </a>
                        </foreach>
					</empty>
				 </div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 100px;" class="">{$vo.reason}</div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 120px;" class="">{$vo.addtime|date='Y-m-d H:i',###}</div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 50px;" class="">{$vo.goods_id}</div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 160px;" class="">     
		          <a href="{:U('Home/Goods/goodsInfo',array('id'=>$vo['goods_id']))}" target="_blank">
		          {$goods_list[$vo['goods_id']]|getSubstr=0,50}
		          </a></div>
		        </td>
		        <td align="center" class="handle-s">
		        	 <div style="text-align: center;width: 50px;" class="">{$vo.goods_num}</div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 80px;" class=""><if condition="$vo[status] eq -2">服务单取消
		          <elseif condition="$vo[status] eq -1"/>不同意<elseif condition="$vo[status] eq 0"/>待审核<else/>同意</if></div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;width: 120px;" class=""><if condition="$vo[checktime] gt 0">{$vo.checktime|date='Y-m-d H:i',###}<else/>无</if></div>
		        </td>
		        <td align="center" abbr="" axis="col6" class="">
		          <div style="text-align: center;">
		          <if condition="$vo[status] eq 3">
		             <a class="btn orange" href="{:U('Service/refund_info',array('id'=>$vo[id]))}"><i class="fa fa-gavel"></i>处理</a>
		          <else/>
		             <a class="btn green" href="{:U('Service/refund_info',array('id'=>$vo[id]))}"><i class="fa fa-list-alt"></i>查看</a>
		          </if>
		          </div>
		        </td>
		        <td align="right" class="" style="width: 100%;">
		            <div>&nbsp;</div>
		        </td>
		      </tr>
		      </volist>
		      </if>
		    </tbody>
		</table>
		<div class="row">
		    <div class="col-sm-6 text-left"></div>
		    <div class="col-sm-6 text-right">{$page}</div>
		</div>
      </div>
      <div class="iDiv" style="display: none;"></div>
    </div>
    <!--分页位置--> 
   	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
        // 起始位置日历控件
        $('#add_time_begin').layDate(); 
	    $('#add_time_end').layDate();
        laydate.render({
            elem: '#add_time_begin',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
            istime: false,
            choose: function(datas){ //选择日期完毕的回调
                compare_time($('#add_time_begin').val(),$('#add_time_end').val());
            }
        });

        // 结束位置日历控件
        laydate.render({
            elem: '#add_time_end',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
            istime: false,
            choose: function(datas){ //选择日期完毕的回调
                compare_time($('#add_time_begin').val(),$('#add_time_end').val());
            }
        });

	 	//点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
     	$('#add_time_begin').layDate(); 
     	$('#add_time_end').layDate();
	});
</script>
</body>
</html>