<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>该动态评论列表</h3>
                <h5>注意审核规范</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation"
         style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="动态详情">动态详情</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>发表时间：{$vo.add_time|date="Y-m-d H:i",###}</li>
            <li>用户名 ：{$vo['nickname']?$vo['nickname']:$vo['mobile']}</li>
            <li>内容 ： {$vo.moments_content}</li>
            <li>
                <span  style="float: left;"> 图片：</span>
                <div style="float: left;">
                    <volist name="$vo.img" id="v">
                        <if condition="$v">
                            <img src="{$v}" style="width: 100px;float: left;margin: 4px;">
                        </if>
                    </volist>
                </div>

            </li>

        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>评论列表</h3>
                <h5>(共{$list|count}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;" onclick="checked()"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="comment_id" axis="col3" class="">
                            <div style="text-align: left; width: 50px;" class="">ID</div>
                        </th>
                        <th align="left" abbr="user_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">会员名称</div>
                        </th>
                        <th align="left" abbr="user_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">回复对方</div>
                        </th>
                        <th align="center" abbr="comment_content" axis="col5" class="">
                            <div style="text-align: center; width: 700px;" class="">内容</div>
                        </th>
                        <th align="center" abbr="status" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">审核状态</div>
                        </th>
                        <th align="center" abbr="is_delete" axis="col6" class="">
                            <div style="text-align: center; width:80px;" class="">是否显示</div>
                        </th>
                        <th align="center" abbr="add_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">评论时间</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton">
                    <a onclick="act_submit(1)">
                        <div class="add" title="审核通过">
                            <span><i class="fa fa-check"></i>审核通过</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a onclick="act_submit(2)">
                        <div class="add" title="审核拒绝">
                            <span><i class="fa fa-ban"></i>审核拒绝</span>
                        </div>
                    </a>
                </div>
                <!--<div class="fbutton">-->
                <!--<a onclick="act_submit(-2)">-->
                <!--<div class="add" title="无效作废">-->
                <!--<span><i class="fa fa-close"></i>无效作废</span>-->
                <!--</div>-->
                <!--</a>-->
                <!--</div>-->
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <foreach name="list" item="vo" key="k">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;">
                                    <i class="ico-check">
                                        <input type="checkbox" style="display:none;" name="selected[]" value="{$vo['comment_id']}">
                                    </i>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">{$vo.comment_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">
                                    {$vo['nickname']?$vo['nickname']:$vo['mobile']}
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">
                                    {$vo['p_name']}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 700px;">
                                    {$vo.comment_content}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    <!--{$status[$vo['status']]}-->
                                    <if condition="$vo['status'] == 1">
                                        <span style="color:green"> {$status[$vo['status']]} </span>
                                        <elseif condition="$vo['status'] eq 2"/>
                                        <span style="color:red"> {$status[$vo['status']]} </span>
                                        <else/>
                                        <span style="color:#0ba4da"> {$status[$vo['status']]} </span>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 80px;{$vo['is_delete']==1?'color:red':''}">
                                    <!--{$vo['is_delete']==1?'隐藏':'显示'}-->
                                    <if condition='$vo[is_delete] eq 1'>
                                        <span class="no" onClick="isDelete('moments_comment','comment_id','{$vo.comment_id}','is_delete',this)" ><i class="fa fa-ban"></i>否</span>
                                        <else />
                                        <span class="yes" onClick="isDelete('moments_comment','comment_id','{$vo.comment_id}','is_delete',this)" ><i class="fa  fa-check-circle"></i>是</span>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$vo.add_time|date="Y-m-d H:i:s",###}
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page}
    </div>
</div>
<script>
    $(document).ready(function () {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function () {
            //点击选中,否则相反
            var checked = $(this).find('input').is(':checked');
            if(checked){
                $(this).find('input').attr("checked",null);
            }else{
                $(this).find('input').attr("checked","checked");
            }

            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });

    });

    function checked(){
        $('input[type="checkbox"]').each(function(i,o){
            if($(o).is(':checked')){
                $(o).removeAttr('checked')
            }else{
                $(o).attr('checked','checked')
            }

        })
    }

    //批量操作提交
    function act_submit(wst) {
        var chks = [];
        $('input[name*=selected]').each(function (i, o) {

            if ($(o).is(':checked')) {
                chks.push($(o).val());
            }
        })

        if (chks.length == 0) {
            layer.alert('亲，请至少选择一项', {icon: 2});
            return;
        }
        var can_post = false;
        var remark = "审核通过";
        if (wst != 1) {
            layer.prompt({title: '请填写备注', formType: 2}, function (text, index) {
                layer.close(index);
                remark = text;
                audit(chks, wst, remark);
            });
        } else {
            audit(chks, wst, remark);
        }
    }

    function audit(chks, wst, remark) {
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=User&a=comment_update",//+tab,
            data: {id: chks, status: wst, remark: remark},
            dataType: 'json',
            success: function (data) {
                if (data.status == 1) {
                    layer.alert(data.msg, {
                        icon: 1,
                        closeBtn: 0
                    }, function () {
                        window.location.reload();
                    });
                } else {
                    layer.alert(data.msg, {icon: 2, time: 3000});
                }
            },
            error: function () {
                layer.alert('网络异常', {icon: 2, time: 3000});
            }
        });
    }


    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {act: 'del', level_id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data.status == 1) {
                        layer.msg(data.msg, {icon: 1});
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert(data.msg, {icon: 2});
                    }
                }
            })
        }, function () {
            layer.closeAll();
        });
    }
    // 修改指定表的指定字段值 包括有按钮点击切换是否(虚拟删除，1为删除，0未删除)
    function isDelete(table,id_name,id_value,field,obj)
    {
        var src = "";
        if($(obj).hasClass('no')) // 图片点击是否操作
        {
            //src = '/public/images/yes.png';
            $(obj).removeClass('no').addClass('yes');
            $(obj).html("<i class='fa fa-check-circle'></i>是");
            var value = 0;

        }else if($(obj).hasClass('yes')){ // 图片点击是否操作
            $(obj).removeClass('yes').addClass('no');
            $(obj).html("<i class='fa fa-ban'></i>否");
            var value = 1;
        }else{ // 其他输入框操作
            var value = $(obj).val();
        }

        $.ajax({
            url:"/index.php?m=Admin&c=Index&a=changeTableVal&table="+table+"&id_name="+id_name+"&id_value="+id_value+"&field="+field+'&value='+value,
            success: function(data){
                if(!$(obj).hasClass('no') && !$(obj).hasClass('yes'))
                    layer.msg('更新成功', {icon: 1});
            }
        });
    }
</script>
</body>
</html>