<include file="public/layout"/>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>动态详情</h3>
                <h5>注意审核规范</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="editForm" method="post">
        <input type="hidden" name="id" id= "moments_id" value="{$vo.moments_id}">
        <input type="hidden" name="user_id" id= "user_id" value="{$vo.user_id}">
        <input type="hidden" id="status" name="status" value="{$vo[status]}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>用户名</label>
                </dt>
                <dd class="opt">
                    {$vo['nickname']?$vo['nickname']:$vo['mobile']}
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>内容</label>
                </dt>
                <dd class="opt">
                    {$vo.moments_content}
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>图片</label>
                </dt>
                <dd class="opt">

                    <volist name="$vo.img" id="v">
                        <if condition="$v">
                            <img src="{$v}" style="width: 400px;float: left;margin: 4px;">
                        </if>
                    </volist>
                    <volist name="$vo.mp4" id="v">
                        <if condition="$v">
                            <video loop autoplay src="{$v}" width="400" style="width: 400px;float: left;margin: 4px;" ></video>
                        </if>
                    </volist>

                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>发表时间</label>
                </dt>
                <dd class="opt">{$vo.add_time|date="Y-m-d H:i",###}</dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>状态</label>
                </dt>
                <dd class="opt">
                    <if condition="$vo['status'] == 1">
                        <span style="color:green"> 通过 </span>
                        <elseif condition="$vo['status']  eq 2"/>
                        <span style="color:red"> 不通过 </span>
                        <else/>
                        <span style="color:#0ba4da"> 审核中 </span>
                    </if>


                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">备注</dt>
                <dd class="opt">
                    <textarea class="input-txt" rows="4" cols="60" id="remark" name="moments_remark">{$vo.moments_remark}</textarea>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>

            <if condition="$vo['status'] == 0">
                <div class="bot">
                    <if condition="in_array($data[status],array(0,2))">
                        <a href="JavaScript:void(0);" onclick="confirm_moments(1);"
                           class="ncap-btn-big ncap-btn-green">通过</a>
                    </if>
                    <if condition="$data[status] eq 0">
                        <a href="JavaScript:void(0);" onclick="confirm_moments(2);"
                           class="ncap-btn-big ncap-btn-green">拒绝</a>
                    </if>
                    <!--    <if condition="$data[status] eq 1">
                            <a href="JavaScript:void(0);" onclick="$('#editForm').submit();" class="ncap-btn-big ncap-btn-green">修改备注</a>
                        </if>
        -->
                </div>
            </if>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 确定提现
    function confirm_moments(d) {
        if (d == 2) {
            if ($.trim($('#remark').val()).length == 0) {
                layer.alert('【拒绝】的理由，请写在备注上', {icon: 2});
                return false;
            }
        }

        if (d == 1) {
            var text = "【通过】将公布动态，确定通过吗？"
            var remark ="审核通过";
        } else if (d == 2) {
            var text = "【拒绝】将不会公布动态，确定通过吗？"
            var remark = $('#remark').val();

        }

        layer.confirm(text, {
                btn: ['确定', '取消'] //按钮
            }, function () {
                // 确定
                $('#status').val('1');
                $.ajax({
                    type: "POST",
                    url: "{:U('Admin/User/moments_update')}",
                    data: {"id":$('#moments_id').val(),"remark":remark,"status":d},
                    dataType: "json",
                    success: function (data) {
                        if (data.status == 1) {
                            layer.alert(data.msg, {icon: 1});
                            location.reload();
                        } else {
                            layer.alert(data.msg, {icon: 2});
                        }
                    }
                });
            }, function (index) {
                layer.close(index);
            }
        );
    }

</script>
</body>
</html>